@import url('header.css');
@import url('reset.css');

body {
    background: green;
}

.danger-message {
    background-color: #FF7F7F;
    margin: 20px 0 20px 0;
    color: white;
    padding: 0.3rem;
}

.success-message {
    background-color: #90EE90;
    margin: 20px 0 20px 0;
    color: white;
    padding: 0.3rem;
}

.invisible {
    display: none;
}