/* This applies from 0px to 768 */

  
/* This applies from 768px onwards */
@media (min-width: 768px) {
   
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .new {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .new__media-section {
        display: flex;
        justify-content: center;
        flex-direction: row;
        border-radius: 5px;
        width: 768px;
        margin: 0 0 20px;
    }

    .new__header-container {
        padding: 30px;
        background: var(--endeed-fondo-grey);
        /* display: flex; */
    }

    .new__header {
        font-weight: 600;
        font-size: 1.4rem;
        line-height: 1.8rem;
    }

    .new__image img {
        height: 180px;
    }

    .new__redirect-link {
        font-size: 1.1rem;
        text-decoration: none;
        color: var(--endeed-dark-ensign);
        font-weight: 600;
    }

    .new__post-listing-form {
        display: grid;
        gap: 1.25rem;
        grid-template-columns: 1fr 1fr;
        margin: 30px 0 30px;
    }

    .form-group {
        display: grid;
        gap: 0.5rem;
    }

    .form-group--full-width {
        grid-column: 1 / -1;
    }

    .form-group input[type=text] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid var(--endeed-light-grey);
        border-radius: 4px;
        box-sizing: border-box;
    }

    .form-group textarea {
        width: 100%;
        height: 150px;
        padding: 12px 20px;
        box-sizing: border-box;
        border: 1px solid var(--endeed-light-grey);
        border-radius: 4px;
        background-color: var(--blanco);
        font-size: 16px;
        resize: none;
    }

    .form-group label {
        font-size: 1rem;
        font-weight: 600;
    }

    .form-button {
        background: var(--endeed-dark-ensign);
        color: var(--blanco);
        font-weight: 600;
        font-size: 1rem;
        border: none;
        padding: 15px 20px;
        border-radius: 6px;
    }

}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}